<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="ko">
<head>
<title>비행노선 애니메이션</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" href="https://openlayers.org/en/v3.20.1/css/ol.css" type="text/css">
<script src="https://openlayers.org/en/v3.20.1/build/ol.js"></script>
<script src="https://api.mapbox.com/mapbox.js/plugins/arc.js/v0.1.0/arc.js"></script> <!-- 수학적 계산을 도와주는 라이브러리 -->
</head>

<body>
<header th:replace="sub/menu.html :: menu"></header>

<div id="map" class="left"></div>

<script type="text/javascript">
var pnt = new ol.geom.Point([55.11, 43.12]).transform('EPSG:4326', 'EPSG:3857') //위경도를 오픈레이어에서 사용중인 값으로 변환
var africa = pnt.getCoordinates(); //1차원 배열 크기 2개의 값 [x, y]


var layer = new ol.layer.Tile({
    source: new ol.source.OSM()
});

var myView = new ol.View({
    center: africa,
    zoom: 2
}); //뷰 객체를 전역변수로 뺀다.

var style = new ol.style.Style({
    stroke: new ol.style.Stroke({
        color: 'rgba(41, 129, 63, 0.7)'
        , width: 2
    })
});

//시작점, 끝점이 존재하는 배열 생성
var flights = new Array();
flights[0] = [ [126.11,37.12], [7.51,11.831] ];
flights[1] = [ [110.11,25.12], [178.21,33.561] ];
flights[2] = [ [55.11,43.12], [47.21,13.42] ];
flights[3] = [ [12.11,3.12], [126.21,37.42] ];
flights[4] = [ [-113.11,39.12], [45.42,37.21] ];

//벡터 레이어에 해당 배열의 값을 각각 그림을 그릴 객체로 집어넣는다
var flightsSource = new ol.source.Vector();
var flightsLayer = new ol.layer.Vector({
    source: flightsSource
    , style: function(feature) {    //스타일을 주면 처음부터 그려진 상태로 진행된다.
        //return style;               //디버그 의미로 style을 줄 수는 있다.
        return null;
    }
});

//배열의 값을 벡터 레이어에서 사용할 수 있는 벡터 소스로 변환
function makeAirLine() {
    flights.forEach((flight, i) => {
        var from = flight[0];
        var to = flight[1];
        var arcGenerator = new arc.GreatCircle( // 구조체를 그리는데 도움을 주는 라이브러리
            {x: from[0], y: from[1]}
            , {x: to[0], y: to[1]}
        );
        var arcLine = arcGenerator.Arc(100, {offset: 50});  //라인이 그려진다
        if (arcLine.geometries.length === 1) {
            var line = new ol.geom.LineString(arcLine.geometries[0].coords);    //LineString 객체를 통해 맵에서 사용 가능한 형태로 조립
            line.transform("EPSG:4326", "EPSG:3857");
            
            var feature = new ol.Feature({ //구조물을 만듬
                geometry: line
            });
            feature.set("startTime", new Date().getTime()); //해당 값은 이벤트의 시작 종료를 위해 필요하다
            feature.set("myIndex", i);
            flightsSource.addFeature(feature);  //벡터레이어가 참조하는 벡터소스에 추가하여준다.
        }
    });
}
makeAirLine();

var map = new ol.Map({
    layers: [layer, flightsLayer]
    , target: 'map'
    , view: myView
});

//애니메이션 작업
var duration = 0.03;    //반복 주기
var colorCode = ['rgba(41,129,63,0.8)','rgba(129,41,41,0.8)','rgba(54,41,129,0.8)','rgba(120,129,41,0.8)','rgba(34,147,169,0.8)','rgba(41,129,63,0.8)'];


function airPlainAnimation(evt) {   //이벤트를 받아서
    var vectorContext = evt.vectorContext;  //벡터대상
    var frameState = evt.frameState;

    //1. 색 고정
    //vectorContext.setStyle(style);  //스타일을 주고

    //2. 노선별로 다른 색
    var features = flightsSource.getFeatures(); //이전에 만들어둔 벡터 소스를 가져온다.
    for(var i = 0; i < features.length; i++) {
        vectorContext.setStyle(new ol.style.Style({  //원래 코드는 바깥에서 1개의 스타일을 바라보게 되어있다.
            stroke: new ol.style.Stroke({
                color: colorCode[i]
                , width: 2
            })
        }));
    
        // for (var i = 0; i < features.length; i++) { //벡터 소스를 반복문을 통해서 이동시킨다.
            var feature = features[i];
            var coords = feature.getGeometry().getCoordinates();    //좌표
            var elapsedTime = frameState.time - feature.get('startTime');   //아까 만들어둔 시작시간
            var elapsedPoints = elapsedTime * duration;

            if (elapsedPoints >= coords.length) {   //끝나면 뭐할래?
                flightsSource.clear();
                makeAirLine();  //반복
            } else {
                //좌표 이동을 위한 계산식
                var maxIndex = Math.min(elapsedPoints, coords.length);
                var currentLine = new ol.geom.LineString(coords.slice(0, maxIndex));
                vectorContext.drawGeometry(currentLine);
            }
        // }
    }
    map.render();   //렌더링 시작
};

map.on('postcompose', airPlainAnimation);   //postcompose는 지도를 그린 후 발생하라는 의미w
</script>
</body>
</html>