<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>사이드바</title>
</head>
<body>
<header th:fragment="menu">
	<div class="side_list">
		<a class="side_link" href="/sub/1_draw_figure.html">점 선 폴리곤 원 그리기</a>
		<a class="side_link" href="/sub/2_draw_circle.html">원 + 스타일 그리기</a>
		<a class="side_link" href="/sub/3_heatmap.html">열지도</a>
		<a class="side_link" href="/sub/4_animation.html">애니메이션</a>
		<a class="side_link" href="/sub/5_geojson.html">GeoJSON</a>
		<a class="side_link" href="/sub/6_flight_animation.html">항공노선</a>
		<a class="side_link" href="/sub/7_image_icon_hover_click.html">이미지 아이콘 호버, 클릭</a>
		<a class="side_link" href="/sub/8_change_map.html">지도 변경</a>
		<a class="side_link" href="/sub/9_box_selection.html">국가 선택</a>
		<a class="side_link" href="/sub/10_koreamap_selection.html">한국 지도에서 지역 선택</a>
	</div>
</header>

</body>
</html>